.b-comments::after {
  content: " ";
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.b-comments .b-comments__title {
  margin: 0px 0px 1em;
  padding: 1.31em 0px 0.31em;
  font-weight: 800;
  text-transform: uppercase;
}

.b-comments .b-comments__title span {
  color:red;
  font-size: 1.5em;
  letter-spacing: 0.025em;
}

.b-comments .b-comments__users-stat {
  margin: 0px 0px 1em;
  font-weight: 600;
  color: rgb(124, 124, 124);
}

.b-comments .b-comments__users-stat span {
  font-size: 0.75em;
}

.b-comments .b-comments__users-stat i {
  color: rgb(40, 40, 40);
  font-style: normal;
  font-weight: 700;
}

.b-comments .b-comments__create-top-place {
  position: relative;
}

.b-comments .b-comments__lists-place {
  border-top: 1px solid rgb(223, 223, 223);
  padding-top: 1em;
}


.b-comments .b-comments__list::after {
  content: " ";
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.b-comments .b-comments__list ul {
  padding: 0px;
  margin: 0px;
  display: block;
}

.b-comments .b-comments__list ul::after {
  content: " ";
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.b-comments .b-comments__list .b-comments__item {
  display: block;
  position: relative;
  margin: 0px 0px 1em;
  padding-left: 0px;
  overflow: hidden;
}

.b-comments .b-comments__list .b-comments__item .b-comments__comment {
  position: relative;
}

.b-comments .b-comments__list .b-comments__item .b-comments__comment::after {
  content: " ";
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-avatar {
  display: block;
  float: left;
  width: 3.125em;
  height: 3.125em;
  margin-top: 0.5em;
  margin-right: 1em;
  margin-bottom: 2px;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-ind {
  margin-left: 4.125em;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-head {
  margin: 0px 0px 0.31em;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-head .b-comments__item-author {
  color: darkred !important;
  font-weight: 700;
  margin-right: 0.5em;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-head .b-comments__item-author span {
  font-size: 0.938em;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-head .b-comments__item-author:hover {
  text-decoration: underline;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-text {
  margin: 0px 0px 0.5em;
  font-size: 0.938em;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-info {
  margin: 0px 0px 0.75em;
  min-height: 1.5em;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-info::after {
  content: " ";
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-info .b-comments__item-time {
  float: left;
  font-weight: 700;
  color: rgb(98, 167, 217);
  margin-right: 0.5em;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-info .b-comments__item-time span {
  font-size: 0.81em;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-info .b-comments__item-date {
  float: left;
  font-weight: 600;
  color: darkred;
  margin-right: 1em;
  margin-top: 5px;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-info .b-comments__item-likes-view {
  display: none;
  font-size: 1em;
  position: relative;
  padding-left: 1.25em;
  margin: 0px 1em 0px 0px;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-info .b-comments__item-likes-view .b-comments__item-likes-icon {
  width: 1.06em;
  height: 1.06em;
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -0.5em;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-info .b-comments__item-likes-view.m-like {
  display: inline-block;
}

.b-comments .b-comments__list .b-comments__item .b-comments__item-info .b-comments__item-likes-view.m-like .b-comments__item-likes-icon {
  background-position: 0px -488px;
  background-repeat: no-repeat;
}

.mode-adaptive .b-comments .b-comments__list .b-comments__item .b-comments__item-ind {
  margin-left: 0px;
}

@media screen and (min-width: 30em) {
  .mode-adaptive .b-comments .b-comments__list .b-comments__item .b-comments__item-ind {
      margin-left: 4.125em;
  }
}